body {
    background-color: #E8E8E8;
}

#vision-board {
    background: url("../img/background.png");
    background-size: cover;
    height: 850px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: auto; 
    overflow: auto;
    text-transform: uppercase;
    width: 1200px;
}

.block {
    box-sizing:border-box;
    float: left;
    width: 400px;
}

.small-block {
    height: 210px;
    padding: 20px 40px;
}

.large-block {
    height: 430px;
    padding: 70px 40px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.dark-bg {
    background: #3B3B3B;
    color: white;
}

.light-bg {
    background: white;
}

.highlight {
	padding: 5px 15px;
	background: #FFF44F;
    display: inline-block;
	font-size: 18px;
    margin-bottom: 10px;
}

.marker {
	font-family: 'Permanent Marker', cursive;
	font-weight: normal;
}

strong {
    font-size: 38px;
    text-transform: none;
    line-height: 38px;
}

.title {
    margin: 10ox 0;
    font-size: 30px;
}
